body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; // text-align: justify;
  // text-justify: auto;
  background-color: $gray-1;
  line-height: 1.5rem;
}

.block-px {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

a {
  text-decoration: none !important;
}

ul {
  list-style-type: none;
}

.container-m {
  max-width: 1200px;
  margin: 0 auto;
  @include media-breakpoint-down(lg) {
    padding: 0px;
    margin: 0px;
  }
}

/*==== header ====*/

header {
  min-height: 92px;
}

// .logo
.logo {
  flex: 0 0 300px;
  @include media-breakpoint-down(sm) {
    flex: 0;
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// search
.search-bar {
  flex: 1 1 900px;
  @include media-breakpoint-down(sm) {
    flex: 0;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray-2;
  }
  i {
    color: $white;
    position: absolute;
    font-size: 20px;
    @include media-breakpoint-down(sm) {
      color: $black;
      transform: translateY(-5px);
    }
  }
}

input[type="search"] {
  min-width: 388px;
  height: 44px;
  padding: 8px 0rem 8px 40px;
  line-height: 44px;
  color: $white;
  background: none;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid $white;
  border-radius: 0px;
  @include media-breakpoint-down(sm) {
    border-bottom: 1px solid $black;
    transform: translateY(-5px);
    min-width: 300px;
  }
  &::placeholder {
    color: $gray-4;
    @include media-breakpoint-down(sm) {
      color: $black;
    }
  }
  &:focus {
    background: none;
    color: $white;
    border-radius: none;
  }
}

/*==== main ====*/

// sidebar
.sidebar {
  flex: 0 0 300px;
  background: $gray-2;
  select,
  input {
    color: $black;
    font-weight: 400;
    border-radius: 2px;
    border: 0px;
  }
}

.sidebar-sm {
  background-color: $gray-2;
}

.border-bottom {
  border-bottom: 1px solid $gray-3;
}

.form-group {
  label {
    font-weight: bold;
    font-size: 1.25rem;
    color: $black;
  }
}

// date
.date>.form-group.d-flex {
  label {
    font-size: 1rem;
    font-weight: 400;
    color: $black;
    text-align: right;
  }
  input {
    width: 170px;
  }
}

// categories
.categories {
  .form-check {
    padding: 0;
    &>label {
      font-size: 1rem;
      font-weight: 400;
      color: $black;
      margin-bottom: 2px;
      &::before {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background: $white;
        vertical-align: middle;
        margin-right: 6px;
        transform: translateY(-2px);
        transition: background ease-in .1s;
      }
    }
    input[type="checkbox"] {
      display: none;
    }
    input[type="checkbox"]+label {
      display: inline-block;
      text-align: left;
    }
    input[type="checkbox"]:checked+label::before {
      background-image: url(../images/check.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 80%;
      background-color: $primary;
    }
  }
}

// section
section {
  height: 500px;
  font-size: 1rem;
  font-weight: 400;
  color: $black; // text-align: right;
  .show-result-text {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 28px;
    color: $black;
    >span {
      color: $purple-l;
    }
  }
}

// badge
.badge-area {
  margin-top: 8px;
  div {
    display: inline-block;
    height: 35px;
    border: 1px solid $purple-l;
    border-radius: 100px;
    line-height: 1rem;
    font-size: 1rem;
    font-style: italic;
    text-align: left;
    padding: 8px 1rem;
    color: $purple-l;
    transition: background-color .3s;
    cursor: default;
    margin-top: 8px;
    &:hover {
      background-color: $purple-l;
      color: $white;
      &>a>i {
        color: $white;
      }
    }
    i {
      line-height: 1rem;
      margin-left: 8px;
      color: $purple-l;
    }
  }
}

// 顯示區
section>ul {
  li {
    min-height: 220px;
    transition: box-shadow .3s;
    cursor: pointer;
    @include media-breakpoint-down(md) {}
    &:hover {
      box-shadow: 0px 2px 5px $gray-3;
    }
  }
} // 圖片
.picture {
  display: inline-block;
  flex: 0 0 220px;
  min-height: 220px; // background-image: url(http://placehold.it/420x420);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include media-breakpoint-down(md) {}
} // 資訊
.info {
  display: inline-block; // width: 100%;
  // min-height: 220px;
  padding: 1.5rem 1.25rem;
  /* 標題 */
  h2 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }
  /* 簡述 */
  p {
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5rem;
    color: $black;
  }
  /* 標籤 */
  .badge {
    height: 1.5rem;
    border-radius: 100px;
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1rem;
    font-style: italic;
    font-size: 1rem;
  }
  /* 時間地點 */
  div>i {
    font-size: 15px;
    // transform: translateY(4px);
  }
  .text-gray-4 {
    color: $gray-4;
    // padding-left: 1rem;
    margin-left: 5px;
  }
} // page
.page-item.active .page-link {
  background-color: $purple-l;
}