<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')
    link(rel="stylesheet", href="stylesheets/all.css")
    script.
      FontAwesomeConfig = { searchPseudoElements: true };
  body
    #app
      //- header
      header.bg-primary.d-flex.align-items-center
        .container-m.w-100
          .d-flex.flex-column.flex-sm-row
            .logo.block-px
              a(href="index.html")
                img(src='images/logo.svg', width='157', height='44')
            .search-bar.block-px.mr-auto
              form.form-inline.my-lg-0.position-relative
                i.fas.fa-search
                input.form-control.mr-sm-2(type='search', placeholder='Explore your own activities', aria-label='Search')

      //- main
      main
        .container-m
          .d-flex.flex-column.flex-sm-row
            //- sidebar
            .sidebar.sticky-top.d-none.d-sm-block
              form(action="", method="post")

                //- location
                .location.form-group.block-px.py-4.mb-0.border-bottom
                  label(for="location") Location
                  select.custom-select(required='')#location
                    option(value='Taiwan') Taiwan
                    option(value='Japan') Japan
                    option(value='2') Two
                    option(value='3') Three

                //- date
                .date.form-group.block-px.py-4.mb-0.border-bottom
                  label() Date
                  .form-group.d-flex.align-items-center
                    label.ml-auto.mr-2(for='inputFrom') from
                    input#inputFrom.form-control(type='date')
                  .form-group.d-flex.align-items-center
                    label.ml-auto.mr-2(for='inputTo') to
                    input#inputTo.form-control(type='date')

                //- categories
                .categories.form-group.block-px.py-4.mb-0
                  label(for="categories") Categories
                  .form-check
                    input#categories1.form-check-input(type='checkbox', name='categories', value='all')
                    label.form-check-label(for='categories1')
                      | All
                  .form-check
                    input#categories2.form-check-input(type='checkbox', name='categories', value='entertainment')
                    label.form-check-label(for='categories2')
                      | Entertainment
                  .form-check
                    input#categories3.form-check-input(type='checkbox', name='categories', value='food')
                    label.form-check-label(for='categories3')
                      | Food
                  .form-check
                    input#categories4.form-check-input(type='checkbox', name='categories', value='learning')
                    label.form-check-label(for='categories4')
                      | Learning
                  .form-check
                    input#categories5.form-check-input(type='checkbox', name='categories', value='outdoors')
                    label.form-check-label(for='categories5')
                      | Outdoors
            //- sidebar-sm
            .sidebar-sm.d-flex.flex-row.d-sm-none
              form(action="", method="post").d-flex.flex-column.w-100

                //- location
                .location.form-group.block-px.py-4.mb-0.border-bottom
                  a(data-toggle='collapse', data-target='#locationBtn' )
                    label(for="location") Location
                  #locationBtn.collapse
                    select.custom-select(required='')#location
                      option(value='Taiwan') Taiwan
                      option(value='Japan') Japan
                      option(value='2') Two
                      option(value='3') Three

                //- date
                .date.form-group.block-px.py-4.mb-0.border-bottom
                  a(data-toggle='collapse', data-target='#dateBtn' )
                    label().d-flex Date
                  #dateBtn.collapse
                    .form-group.d-inline-block.align-items-center.d-sm-flex.w-100
                      label.ml-auto.mr-2(for='inputFrom') from
                      input#inputFrom.form-control(type='date')
                    .form-group.d-inline-block.align-items-center.d-sm-flex.w-100
                      label.ml-auto.mr-2(for='inputTo') to
                      input#inputTo.form-control(type='date')

                //- categories
                .categories.form-group.block-px.py-4.mb-0
                  a(data-toggle='collapse', data-target='#categoriesBtn' )
                    label(for="categories") Categories
                  #categoriesBtn.collapse
                    .form-check
                      input#categories1.form-check-input(type='checkbox', name='categories', value='all')
                      label.form-check-label(for='categories1')
                        | All
                    .form-check
                      input#categories2.form-check-input(type='checkbox', name='categories', value='entertainment')
                      label.form-check-label(for='categories2')
                        | Entertainment
                    .form-check
                      input#categories3.form-check-input(type='checkbox', name='categories', value='food')
                      label.form-check-label(for='categories3')
                        | Food
                    .form-check
                      input#categories4.form-check-input(type='checkbox', name='categories', value='learning')
                      label.form-check-label(for='categories4')
                        | Learning
                    .form-check
                      input#categories5.form-check-input(type='checkbox', name='categories', value='outdoors')
                      label.form-check-label(for='categories5')
                        | Outdoors

            //- section
            section.d-flex.flex-column.ml-auto.w-100.block-px.py-4
              .show-result-text.d-none.d-sm-block Showing 
                | 
                span.font-weight-bold 15 
                | results by…

              //- 標籤
              .badge-area.d-none.d-sm-block
                div.font-weight-light.mr-1 Koahsiung
                  a(href="#")
                    i.far.fa-times-circle.fa-sm
                div.font-weight-light.mr-1 Entertainment
                  a(href="#")
                    i.far.fa-times-circle.fa-sm

              //- 顯示區
              ul.pl-0
                li.bg-white.mt-4
                  a(href="#").d-flex.flex-column.flex-md-row
                    div.picture(style="background-image: url(http://c1.peakpx.com/wallpaper/861/586/496/chicago-illinois-city-urban-skyline-wallpaper-thumb.jpg);")
                    div.info.d-flex.flex-column.justify-content-between
                      h2.text-secondary.font-weight-bold Kogi Cosby sweater ethical.
                      p Donec euismod scelerisque ligula. Maecenas eu varius risus, eu aliquet arcu. Curabitur fermentum suscipit est, tincidunt mattis lorem luctus id. Donec eget massa a diam condimentum pretium. Aliquam erat volutpat. Integer ut tincidunt orci. Etiam tristique, elit ut consectetur iaculis, metus lectus mattis justo, vel mollis eros neque quis augue. Sed lobortis ultrices lacus, a placerat metus rutrum sit amet. Aenean ut suscipit justo.
                      div

                        //- 主辦單位
                        span.font-weight-bold.mr-3.d-block.d-md-inline-block  Ethan Foster

                        //- 分類標籤
                        .badge.badge-light.text-white.font-weight-light.mr-3.d-inline-block Entertainment
                      div.mt-3

                        //- 地點
                        div.d-block.d-lg-inline-block
                          i.fas.fa-map-marker-alt.text-dark
                          span.text-gray-4.mr-4 Kaohsiung City

                        //- 時間
                        div.d-block.d-lg-inline-block.mt-1
                          i.far.fa-calendar-alt.text-dark
                          span.text-gray-4.mr-4 2018/5/24 - 2018/5/31

              //- 分頁
              nav(aria-label='Page navigation').mx-auto.mr-sm-0
                ul.pagination
                  li.page-item
                    a.page-link(href='#', aria-label='Previous')
                      span(aria-hidden='true') «
                      span.sr-only Previous
                  li.page-item.active
                    a.page-link(href='#') 1
                  li.page-item
                    a.page-link(href='#') 2
                  li.page-item
                    a.page-link(href='#') 3
                  li.page-item
                    a.page-link(href='#', aria-label='Next')
                      span(aria-hidden='true') »
                      span.sr-only Next              
    script(src="javascripts/vendor.js")