<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i', rel='stylesheet')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.13/css/all.css', integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp', crossorigin='anonymous')
    link(rel="stylesheet", href="stylesheets/all.css")
    script.
      FontAwesomeConfig = { searchPseudoElements: true };
  body
    #app
      //- header
      header.bg-primary.d-flex.align-items-center
        .container
          .row
            .col-3.sidebar-px
              a(href="index.html")
                img(src='images/logo.svg', width='157', height='44')
            .col-9
              form.form-inline.my-2.my-lg-0.position-relative
                i.fas.fa-search
                input.form-control.mr-sm-2(type='search', placeholder='Explore your own activities', aria-label='Search')

      //- main
      main
        .container
          .row

            //- sidebar
            .sidebar.sticky-top
              form(action="", method="post")

                //- location
                .location.form-group.sidebar-px.py-4.mb-0.border-bottom
                  label(for="location") Location
                  select.custom-select(required='')#location
                    option(value='Taiwan') Taiwan
                    option(value='Japan') Japan
                    option(value='2') Two
                    option(value='3') Three

                //- date
                .date.form-group.sidebar-px.py-4.mb-0.border-bottom
                  label() Date
                  .form-group.d-flex.align-items-center
                    label.ml-auto.mr-2(for='inputFrom') from
                    input#inputFrom.form-control(type='date')
                  .form-group.d-flex.align-items-center
                    label.ml-auto.mr-2(for='inputTo') to
                    input#inputTo.form-control(type='date')

                //- categories
                .categories.form-group.sidebar-px.py-4.mb-0
                  label(for="categories") Categories
                  .form-check
                    input#categories1.form-check-input(type='checkbox', name='categories', value='all')
                    label.form-check-label(for='categories1')
                      | All
                  .form-check
                    input#categories2.form-check-input(type='checkbox', name='categories', value='entertainment')
                    label.form-check-label(for='categories2')
                      | Entertainment
                  .form-check
                    input#categories3.form-check-input(type='checkbox', name='categories', value='food')
                    label.form-check-label(for='categories3')
                      | Food
                  .form-check
                    input#categories4.form-check-input(type='checkbox', name='categories', value='learning')
                    label.form-check-label(for='categories4')
                      | Learning
                  .form-check
                    input#categories5.form-check-input(type='checkbox', name='categories', value='outdoors')
                    label.form-check-label(for='categories5')
                      | Outdoors

            //- section
            section.col-9
    script(src="javascripts/vendor.js")